.select-container {
    margin-bottom: 20px;
}

.map-container {
    margin: 20px 0;
}

#map {
    height: 400px;
    width: 70vw;
    background-color: #eaeaea;
}

.plants-table-container {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}


/*Estilos del boton de Ver todas las plantas*/
.buttonPlants {
    padding: 12px;
    background-color: var(--avocado);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin: 0 auto; 
    width: 50%; 
    display: block;
    text-align: center;

}

.buttonPlants:hover {
    background-color: var(--fern-green);
}

a {
    text-decoration: none; 
}
    

/*Estilos para los botones modificar y eliminar del dashboard*/ 
/* Centrar los íconos en la columna */
.action-cell {
    display: flex;
    justify-content: center;
    align-items: center; /* Centra verticalmente */
    gap: 10px; /* Espacio entre los botones */
}

/* Estilos generales para los botones */
.modify_button, .delete_button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em; /* Ajustar el tamaño del ícono */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

/* Estilo específico para el botón de modificar */
.modify_button i {
    color: #3a5a40ff; /* Color acorde con tu paleta, ej: Hunter Green */
}

/* Estilo específico para el botón de eliminar */
.delete_button i {
    color: #de4444; /* Color rojo para indicar eliminación */
}

/* Estilos de hover */
.modify_button:hover i {
    color: #588157ff; /* Color de hover, Fern Green */
}

.delete_button:hover i {
    color: #ff6b6b; /* Color de hover para el botón de eliminar */
}
