:root {
    --fern-green: #4c7550ff;
    --dark-green: #112d21ff;
    --british-racing-green: #1a3d26ff;
    --avocado: #6a8b25ff;
    --dark-green-2: #1a3728ff;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header, .footer {
    text-align: center;
}

.main {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.form-section {
    background-color: white;
    padding: 40px;
    max-width: 400px;
    width: 100%;
    text-align: left;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra suave */
    border: none; /* Sin bordes */
    position: relative;
}

.form-section h2 {
    color: var(--british-racing-green);
    margin-bottom: 20px;
    font-size: 24px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 14px;
    color: var(--dark-green-2);
    display: none; /* Ocultamos los labels para un estilo minimalista */
}

input, textarea {
    padding: 12px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    font-size: 16px;
    width: 100%;
}

input:focus, textarea:focus {
    border-bottom: 1px solid var(--avocado);
    outline: none;
    box-shadow: none;
}

input::placeholder, textarea::placeholder {
    color: #aaa;
    font-size: 14px;
}

button {
    padding: 12px;
    background-color: var(--avocado);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--fern-green);
}

/* Imagen a la izquierda que ocupe el espacio */
.image-section {
    flex: 1;
    background-image: url('../imagenes/notAllHeroes.png'); /* Cambia el enlace a tu imagen */
    background-size: cover;
    background-position: center;
    height: 100%;
}
