:root {
    --fern-green: #4c7550ff;
    --dark-green: #112d21ff;
    --british-racing-green: #1a3d26ff;
    --avocado: #6a8b25ff;
    --dark-green-2: #1a3728ff;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.form-section {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.form-section h2 {
    color: var(--british-racing-green);
    margin-bottom: 20px;
    font-size: 24px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 14px;
    color: var(--dark-green-2);
    text-align: left;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
}

input:focus, textarea:focus {
    border-color: var(--avocado);
    outline: none;
    box-shadow: 0 0 5px rgba(106, 139, 37, 0.2);
}

button {
    padding: 10px;
    background-color: var(--avocado);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--fern-green);
}
