:root {
    --fern-green: #4c7550ff;
    --dark-green: #112d21ff;
    --british-racing-green: #1a3d26ff;
    --avocado: #6a8b25ff;
    --dark-green-2: #1a3728ff;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header, .footer {
    text-align: center;
}

.main {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.login-box {
    background-color: white;
    padding: 40px;
    max-width: 400px;
    width: 100%;
    text-align: left;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    position: relative;
}

.login-box h2 {
    color: var(--british-racing-green);
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center; /* Centrar el título */
}

.input-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: #6b7b6e;
}

input {
    width: 100%;
    padding: 12px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: white;
    font-size: 16px;
    margin-bottom: 20px;
}

input:focus {
    border-bottom: 1px solid var(--avocado);
    outline: none;
}

button {
    padding: 12px;
    background-color: var(--avocado);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 50%;
    margin: 0 auto;
    display: block;
}

button:hover {
    background-color: var(--fern-green);
}

/* Diferenciar estilos de los textos de "¿Olvidaste tu contraseña?" y "Regístrate aquí" */
.forgot-password, .signup {
    font-size: 0.9rem;
    margin-top: 1rem;
    color: #666; /
}

.forgot-password a, .signup a {
    color: var(--dark-green); 
}
.forgot-password a:hover, .signup a:hover {
    text-decoration: underline;
}

a {
    color: var(--british-racing-green);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}